#frontScreen {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-height: 800px;
}

#title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "sans-serif";
  font-weight: bolder;
}
