#inputContainer {
  position: absolute;
  height: 700px;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 3;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.47);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainerWLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
