#input {
  position: absolute;
  min-height: max-content;
  margin-top: 30px;
  height: max-content;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 3;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.47);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: SFProDisplay, sans-serif;
}

.inputContainer {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.inputTitle {
  font-size: 20px;
}

.inputSubTitle {
  font-size: 15px;
  opacity: 0.5;
  margin-bottom: 10px;
  width: 90%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-style: italic;
}

.inputText {
  text-align: center;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.51);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 1);
  height: 20px;
}

.select {
  font-size: 14px;
  font-style: italic;
}

.inputText:focus {
  outline: none;
}

.select {
  height: 25px;
}

#calculateButton {
  width: 200px;
  height: 40px;
  background: rgba(255, 255, 255, 0.51);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-top: 40px;
  font-size: 15px;
  margin-bottom: 20px;
}

#calculateButton:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.71);
}

#calculateButton:active {
  background: rgba(255, 255, 255, 0.91);
}
