@import url(background.css);
@import url(frontScreen.css);
@import url(titleLogo.css);
@import url(inputContainer.css);

@font-face {
  font-family: "DMSerif-italic";
  src: url("../fonts/DMSerifText-Italic.ttf");
}

@font-face {
  font-family: "DMSerif-Regular";
  src: url("../fonts/DMSerifText-Regular.ttf");
}

* {
  margin: 0;
  overflow-x: hidden;
}

:root {
  --fontColor: #ffffff;
  --fontColorInverted: #001233;
  --bubbleColor: white;
}
